<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <script></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <div class="message-box" > 
    <% messages.forEach((message, index) => { %>
      <a class="message-item" href="/chat/<%= index %>"> 
          <div class="message-head">
            <span><strong> <%= message.user %> </strong></span>
            <span>
              <strong style="font-size: small;">
                  <%= message.added.at(-1) %> 
              </strong>
            </span>
          </div>
          <p><%= message.text.at(-1) %></p>
      </a>
    <% }) %>
  </div>

  <button id="dark">
    Dark Mode
  </button>

  <div>
    <a href="/new" class="draft-box">
      Send Message ->
    </a>
  </div>
  <div class="draft-shadow">Send Message -></div>
  <script src="/dark.js"></script>
</body>
</html>